@font-face {
  font-family: 'YeZiGongChangShanHaiMingChao-2';//字体名称
  font-display: swap;
  src: url('../font/YeZiGongChangShanHaiMingChao-2.ttf') format("truetype"); //字体的所在位置
}
body,
.gitcalendar {
    font-family: YeZiGongChangShanHaiMingChao-2 !important; 
}